* {
  border: none;
  padding: none;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --Orange: hsl(26, 100%, 55%);
  --Pale_orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --Very_dark_blue: hsl(220, 13%, 13%);
  --Dark_grayish_blue: hsl(219, 9%, 45%);
  --Grayish_blue: hsl(220, 14%, 75%);
  --Light_grayish_blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100svh;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 80%;
  height: inherit;
  border-bottom: 1px solid var(--Grayish_blue);
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}
header nav a {
  color: var(--Dark_grayish_blue);
  position: relative;
}
header nav a:hover {
  color: var(--Very_dark_blue);
}
header nav a:hover::after {
  content: "";
  width: 100%;
  height: 5px;
  display: inline-block;
  background: var(--Orange);
  position: absolute;
  bottom: -40px;
  left: 0;
}
header nav :is(svg, img) {
  cursor: pointer;
}
.cartI {
  width: max-content;
  height: max-content;
}
.cartI:hover path {
  fill: var(--Very_dark_blue);
}
.profile {
  width: 50px;
  height: 50px;
}
.profile:hover {
  border: 2px solid var(--Orange);
  border-radius: 50px;
}
.rightpanel {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  right: 0;
}
.cart__details {
  width: 350px;
  height: 200px;
  position: absolute;
  background: var(--White);
  bottom: -200px;
  right: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  display: none;
}
.cart_title {
  color: var(--Black);
  font-weight: 700;
  padding: 15px;
  height: 20%;
  border-bottom: 1px solid var(--Grayish_blue);
}
.cart_items {
  color: var(--Dark_grayish_blue);
  font-weight: 700;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart_items div:first-child {
  display: flex;
  gap: 10px;
}
.hamburger {
  display: none;
}
.product {
  display: flex;
  align-items: center;
  width: 80%;
  height: 600px;
  flex-wrap: wrap;
}

.product > div {
  width: 50%;
}

.thumbnail {
  width: 420px;
  height: 420px;
  border-radius: 15px;
}
.product__subimages img {
  width: 85px;
  height: 85px;
  border-radius: 10px;
  margin-right: 20px;
}
.product__subimages img:hover {
  opacity: 0.6;
}
.img--Active {
  opacity: 0.5;
  border: 2px solid var(--Orange);
}
.company {
  color: var(--Orange);
  font-weight: 700;
}
.pname {
  font-size: 2rem;
  color: var(--Black);
  font-weight: 700;
}
.pdescription {
  font-size: 1rem;
  color: var(--Dark_grayish_blue);
}
.rate {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 10px;
}
.discount {
  color: var(--Orange);
  background: var(--Pale_orange);
  padding: 5px;
  font-weight: 700;
  border-radius: 5px;
}
.mrp {
  color: var(--Grayish_blue);
  text-decoration: line-through;
  font-weight: 700;
}
.qtydiv {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--Light_grayish_blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}
button {
  font-size: 1.8rem;
  background: none;
  cursor: pointer;
}
.qtydiv button {
  color: var(--Orange);
}
.qtydiv button:hover {
  opacity: 0.6;
}
.main__btn {
  display: flex;
  gap: 40px;
}
.cart__btn {
  width: 230px;
  height: 50px;
  border-radius: 10px;
  font-size: 1rem;
  background: var(--Orange);
  color: var(--White);
  box-shadow: 0px 4px 30px var(--Orange);
}
.cart__btn path {
  fill: var(--White);
}
.cart__btn svg {
  margin-right: 15px;
}
.cart__btn:hover {
  opacity: 0.6;
}
.offcanvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  background: var(--White);
}
.show {
  display: block;
  z-index: 1;
}
.prod_Img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
@media screen and (max-width: 1100px) {
  .product > div {
    width: 100%;
  }
  .product div:first-child {
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  header nav {
    width: 90%;
  }
  header nav a {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  header nav {
    width: 100%;
  }
  .product {
    width: 100%;
  }
  .thumbnail {
    width: 100%;
  }
}
